<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PixelFruit-ref: 滤镜/调色/LUT 引擎 -->
    <!-- P-02: 不支持尼康 Z8/Z9 新机型 NEF，由调用方降级处理 -->

    <application>
        <!-- PixelFruit 滤镜编辑 Activity -->
        <activity
            android:name=".ui.PixelFruitActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize">
            <intent-filter>
                <action android:name="com.pixelfruit.action.EDIT_FILTER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- P-08: LUT 文件导入 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.cube" />
            </intent-filter>
        </activity>
    </application>
</manifest>